<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <error-page>
    <error-code>404</error-code>
    <location>/index.html</location>
  </error-page>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>dk.wolfsbane.angularmaterialkickstart.IndexServlet</servlet-class>
    <init-param>
      <param-name>Content-Security-Policy</param-name>
      <param-value>default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; connect-src 'self' https://*.northtech.dk; frame-ancestors 'none'</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
</web-app>
